*{
	margin: 0 auto;
}
body{
	width:100%;
	max-width:756px;
}

.header{
	font-size:40px;
	font-weight:bold;
	background-color:#e6e6ff;
	text-transform:uppercase;
}
table{
	width:100%;
	text-align:center;
	font-size:20px;
}
a{
	display:block;
	color:black;
	text-decoration:none;
	}
	
.predmeti :hover{
	background-color:#ccffeb;
	}
.predmeti :active{
	background-color:#ffe6e6;
	}

.mainnav{
	margin-top:50px;
}

/*Prof3 - izrada ankete*/

.Ime{
	margin:0px 0px 25px 15px;
	font-size:25px;
	font-weight:bold;
}
#imeAnkete{
	width:70%;
}

label#pitanje{
	margin-left:15px;
}
#pitanje{
	width:81.5%;
	margin:0px 0px 25px 15px;
}

#tipO{
	margin-left:50px;
}
#tipO label{
	margin-right:30px;
}
#tip{
	width:20%;
	font-size:15px;
}

#DodajPitanje{
	width:95%;
	margin-bottom:10px;
}

button{
	padding: 10px;
	width:30%;
	margin-right: 15px;
	
}
